:root{
    --bg-sidebar: #051e34;
    --bg-badge: #165bba;
    --bg-a: #828f9b;
}

.debug{
    border: 1px solid black;
}

/* hover */



.bg-a:hover{
    background-color: var(--bg-a);
}

/* general */

header{
    height: 60px;
}

.wrapper{
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    margin-top: 60px;
}

#sidebar{
    height: 100%;
    width: 140px;
    flex-shrink: 0;
    background-color: var(--bg-sidebar);
    background-image: url(../img/sidebar-bg.png);
}

.bg-a{
    background-color: transparent;
}

main{
    flex-grow: 1;
    overflow-y: auto;
    height: 100%;
}

.da-search{
    font-family: Arial, FontAwesome;
}

.da-badge{
    background-color: var(--bg-badge);
    cursor: pointer;
}

.ret{
    color: transparent;
    background-color: transparent;
}

.icon{
    width: 6%;
    margin-right: 10px;
}

.icon-red{
    width: 6%;
}

.my-border{
    border: 1px solid lightgrey;
}